/* Font-face google in-app */

@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Black Ops One";
  src: url("BlackOpsOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Define font variables in :root */
:root {
  --body-font: "Work Sans", "Helvetica", "sans-serif";
  --headers-font: "Nunito", "Helvetica", "sans-serif";
}

.black-ops-one {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}


/*
 To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Font Name";
   src: font-url('FontFile.eot');
   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
         font-url('FontFile.woff') format('woff'),
         font-url('FontFile.ttf') format('truetype')
 }
*/
