/* Bottom Navbar Mobile */
@keyframes nav-indicator {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 2.5rem;
  }
}

.animate-nav-indicator {
  animation: nav-indicator 220ms ease-out;
}